<!DOCTYPE html>
<html>

<head>
    <title>
        <%= post.title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="post-container">
        <h1>
            <%= post.title %>
        </h1>
        <p class="post-date">Created on: <%= post.createdAt.toDateString() %>
        </p>
        <p>
            <%= post.content %>
        </p>
        <div class="post-actions">
            <a href="/edit/<%= post.id %>" class="edit-button">Edit</a>
            <form action="/delete/<%= post.id %>" method="post" class="delete-form">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
    <a href="/">Back to Home</a>
</body>

</html>